*.zip
alpha/000/db/*
alpha/000/test/*
alpha/000/source/*
alpha/000/app (exports)/*
alpha/000/js/sc-codec-min-bin.js
alpha/000/js/socketcluster.js
alpha/000/js/rawinflate.js
alpha/000/js/rawdeflate.js
alpha/000/js/esprima.js
alpha/000/js/codemirror/*
alpha/001/materials/chh252_material_app.json
alpha/001/materials/chh252_model.glb
alpha/001/materials/model.json
alpha/001/materials/model.obj
alpha/002/material_app.json
alpha/002/model/Caroline.obj
alpha/002/model/Caroline_v1.blend
alpha/002/model/hair.png
alpha/002/model/model.json
alpha/002/model/scene.json
alpha/002/model/material_app.json
alpha/002/model/Caroline_animations.blend
alpha/002/model/Caroline.blend

alpha/003/js/three.min.js
alpha/004/js/EditorControls.js
alpha/004/js/FBXLoader.js
alpha/004/js/TransformControls.js
alpha/004/js/UVsDebug.js
alpha/004/model/Carol.blend
alpha/004/model/Carol Standing Pose.fbx
alpha/004/model/Female Standing Pose.fbx
alpha/004/model/Standing Pose.fbx
alpha/004/model/CarolNudePose.fbx
alpha/004/model/Carol2Mixamo.fbx
alpha/004/model/Carol2Mixamo.blend
alpha/004/model/animations/*
alpha/004/model/poses/*
alpha/004/model/Carol Nude Standing.fbx
alpha/004/model/to Mixamo.blend
alpha/004/model/to Mixamo.fbx
alpha/004/app (materials).json
alpha/004/carol-materials (1).json
alpha/004/carol-materials (2).json
alpha/005/body-matcap-demo.json
alpha/004/carol-materials (3).json
alpha/006/Carol_poses_demo_v1.blend
alpha/v3/TheCity.json
alpha/v4/SchoolSkirtCorset_onHighBoots_animations_v4(42b).fbx
