*.zip
alpha/001/materials/chh252_material_app.json
alpha/001/materials/chh252_model.glb
alpha/001/materials/model.json
alpha/001/materials/model.obj
alpha/002/material_app.json
alpha/002/model/Caroline.obj
alpha/002/model/Caroline_v1.blend
alpha/002/model/hair.png
alpha/002/model/model.json
alpha/002/model/scene.json
alpha/002/model/material_app.json
alpha/002/model/Caroline_animations.blend
alpha/002/model/Caroline.blend
alpha/003/js/three.min.js
alpha/004/js/EditorControls.js
alpha/004/js/FBXLoader.js
alpha/004/js/TransformControls.js
alpha/004/js/UVsDebug.js
